@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_icons.sass"

.imgnav
    margin-top: 50px
    margin-bottom: 25px
    text-align: center
    

.collapse
    display: flex
    justify-content: center
    background-color: white

.whiteS
    height: 25px
    width: 25px
    border-radius: 15%

.blackS
    height: 25px
    width: 25px
    border-radius: 15%

.navbar-nav
    a
        margin-left: 55px

.Sliderimg
    background-color: #fbf0f0

.border
    &:focus
        outline: none

.image1
    background-image: url(../../public/img/services/service-1.jpg)
    background-size: cover
    border: none

.image2
    background-image: url(../../public/img/services/service-2.jpg)
    background-size: cover
    border: none

.image3
    background-image: url(../../public/img/services/slider-3.jpg)
    background-size: cover
    border: none

// .tdc
//     text-decoration-line: underline

.h75
    width: 75%
    height: 5px
    border-radius: 15px

.card
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column


.overline
    text-decoration-line: line-through

.imageSlider
    background-image: url(../../public/img/services/cta-bg.jpg)
    background-size: cover
    background-position: center
    

.borderR
    border-radius: 15px
