@import "../../node_modules/bootstrap/scss/bootstrap.scss"


.imgnav
    margin-top: 50px
    margin-bottom: 25px
    text-align: center
    

.collapse
    display: flex
    justify-content: center
    background-color: white

.whiteS
    height: 25px
    width: 25px
    border-radius: 15%

.blackS
    height: 25px
    width: 25px
    border-radius: 15%

.navbar-nav
    a
        margin-left: 55px

.Sliderimg
    background-color: #fbf0f0



    
    
